/**
 * juss
 * @author chen
 * @date 20160921
 */

/** import  all valiable **/
@import 'settings';
@import 'normalize';

// Core variables and mixins
@import 'util/util';
@import 'typography';
@import 'tables';
@import 'forms';
@import 'grid';
@import 'buttons';
@import 'helper';
// Components
@import 'components/menu';
@import 'components/top-bar';
@import 'components/pagination';
// Components Javascript
@import 'components/modal';
@import 'components/slide';
// Utility classes

@font-face {
  font-family: kaiti;
  src: url(../fonts/kaiti.ttf);
}
@font-face {
  font-family: mini;
  src: url(../fonts/mini.ttf);
}


$gold: #f2ea8c;

.noscroll {
  overflow: hidden !important;
}

body {
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main {
}

.top-bar {
  height: 3.5rem;
  text-align: center;
  margin-bottom: 4rem;
  img {
    height: 4.5rem;
    padding: 1rem;
    background: $primary-color;
  }
}

.navigation {
  @media (max-width:map_get($grid-breakpoints, medium)) {
    display: none;
  }
  .menu {
    margin: 4rem 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    & > li {
      position: relative;
      display: inline-block;
      & > a {
        display: inline-block;
        padding: .5rem 2rem;
        color: #333;
      }
      .menu__sub {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        padding: .5rem 0;
        list-style-type: none;
        background: $primary-color;
        a {
          margin-bottom: .3rem;
          padding: .2rem .5rem;
          color: #333;
          border: 1px solid transparent;
        }
        li:hover a {
          border-color: $gold;
          color: $gold;
        }
      }
      &:hover {
        & > a {
          color: $gold;
          background: $primary-color;
        }
        .menu__sub {
          display: block !important;
        }
      }
    }
    & > .active > a {
      color: $gold;
      background: $primary-color;
    }
  }
}

@mixin section($color, $bg){
  $img: '../img/pattern.png';
  $line: '../img/pattern-border2.png';
  @if $color == $primary-color {
    $img: '../img/pattern2.png';
    $line: '../img/pattern-border.png';
  }
  position: relative;
  padding: 2rem 0 4rem;
  background: $bg;
  h6 {
    position: relative;
    width: 80%;
    margin: 2rem auto 4rem;
    padding-top: 1rem;
    border: 25px solid transparent;
    border-bottom: none;
    border-image: url($line) 50% round;
    -webkit-border-image: url($line) 50% round;
    text-align: center;
    color: $color;
    font-size: 1.2rem;
    &:before {
      content: url($img);
      position: absolute;
      top: -150%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

}

#banner {
  margin-bottom: 2rem;
  background-image: url(../img/yun.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 50vmin;
  .banner__container {
    @media (max-width:map_get($grid-breakpoints, medium)) {
      width: 80%;
      div {
        //width: 100%;
        //margin: 0;
      }
    }
    width: 90%;
    margin: 0 auto;
    border: 50px solid transparent;
    border-image: url('../img/kuang.png') 50 round;
    box-sizing: border-box;
    -webkit-border-image: url('../img/kuang.png') 50 round;
    div {
      width: 70%;
      margin: 1rem auto;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      img {
        padding: 1rem;
        box-sizing: border-box;
        max-width: 100%;
        &:first-child {
          width: 38%;
          @media (max-width:map_get($grid-breakpoints, medium)) {
            width: auto;
          }
        }
        &:nth-child(2) {
          float: right;
          //margin: 1rem 5rem;
          @media (max-width:map_get($grid-breakpoints, medium)) {
            width: auto;
          }
          width: 40%;
        }
      }
    }
  }
  .slide {
    height: 600px;
  }
}
#aboutus {
  @media (max-width:map_get($grid-breakpoints, medium)) {
    //display: none;
  }
  @include section($gold, $primary-color);
  .container {
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 53px solid transparent;
    border-image: url('../img/kuang.png') 53 round;
    -webkit-border-image: url('../img/juanzhou.png') 53 round;
    background: #fdfbf1;
    background-clip: content-box;
    @media (max-width:map_get($grid-breakpoints, medium)) {
      border-image: url('../img/juanzhou2.png') 53 round;
      width: 95%;
      img {
        display: none;
      }
      & > div {
        margin: 0 !important;
        padding: 1rem .5rem !important;
        box-sizing: border-box !important;
        width: 100% !important;
        height: auto !important;
      }
      div {
        transform: none !important;
        width: 100% !important;
        span {
          font-size: 0.85rem !important;
          padding: 0 2px !important;
          transform: none !important;
        }
      }
    }
    & > div {
      $size: 500px;
      height: $size;
      padding: 2.5rem 2rem;
      box-sizing: content-box;
      color: #555;
      overflow: hidden;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      img {
        margin: 0 2rem 0 4.5rem;
        float: right;
      }
      div {
        display: inline-block;
        float: right;
        transform: rotate(90deg) translate(-45%, 25%);
        width: $size;
      }
      p {
        width: 100%;
        font-family: kaiti;
        font-size: 1.2rem;
        word-break: break-all;
        font-weight: 600;
        color: #666;
        span {
          display: inline-block;
          padding: 5px 2px;
          transform: rotate(-90deg);
        }
      }
    }
  }
}
#service,
#products {
  @include section($primary-color, transparent);
  ul {
    width: 80%;
    @media (max-width:map_get($grid-breakpoints, medium)) {
      width: 95%;
    }
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2rem 0;
    list-style-type: none;
    text-align: center;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    li {
      width: 20%;
      @media (max-width:map_get($grid-breakpoints, medium)) {
        width: 50%;
      }
      float: left;
      a {
        display: block;
        img {
          $size: 180px;
          width: $size;
          height: $size;
          //margin: 1rem;
          //padding: 5px;
          box-sizing: border-box;
          //border: 1px solid $primary-color;
          border-radius: 50%;
          transition: all .5s;
        }
        p {
          margin: 1rem 0;
          font-size: 1.2rem;
          color: #333;
        }
        &:hover {
          img {
            padding: 0;
          }
        }
      }
    }
  }
}
#cooperation {
  @include section($gold, $primary-color);
  div {
    text-align: center;
    padding: 1rem;
  }
}

#news {
  @include section($gold, $primary-color);
  .container {
    @media (max-width:map_get($grid-breakpoints, medium)) {
      width: 85%;
    }

    width: 60%;
    margin: 0 auto;
    position: relative;
    .more {
      position: relative;
      display: block;
      margin: 3rem auto 0;
      width: 8rem;
      height: 2.5rem;
      text-align: center;
      line-height: 2.5rem;
      color: $gold;
      border: 1px solid $gold;
      border-radius: 2rem;
      @media (max-width:map_get($grid-breakpoints, medium)) {
        &:before,
        &:after {
          display: none !important;
        }
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1.5rem;
        border: 3px solid $gold;
        box-sizing: border-box;
        top: -530px;
        left: 50%;
        transform: translate(-50%, -100%);
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 530px;
        background: $gold;
        top: 0;
        left: 50%;
        transform: translate(0,-100%);
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        position: relative;
        @media (max-width:map_get($grid-breakpoints, medium)) {
          margin-bottom: 1rem !important;
          &:before,
          &:after {
            display: none !important;
          }
        }
        &:before {
          content: '';
          display: inline-block;
          $size: 1.5rem;
          width: $size;
          height: $size;
          border-radius: $size;
          //border: 2px solid $gold;
          background: $gold;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:after {
          content: '';
          display: inline-block;
          width: 100px;
          height: 2px;
          background: $gold;
          position: absolute;
          top: 50%;
          left: 50%;
        }
        a {
          position: relative;
          display: block;
          color: $gold;
          &:after {
            content: '';
            display: block;
            clear: both;
          }
          .cover {
            display: inline-block;
            padding: .5rem;
            position: relative;
            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: url(../img/news-border.png);
              background-repeat: no-repeat;
              //background-size: cover;
              background-size: 100% 100%;
              background-position: center;
            }

          }
          .title {
            display: inline-block;
            padding: 1rem;
            p {
              margin: 0;
            }
            span {
              font-size: 0.85rem;
              color: rgba($gold, 0.6);
            }
          }
        } 
        &:nth-child(2n){
          &:after {
            transform: translateX(-100%);
          }
          .cover {
            float: left;
          }
          .title {
            float: left;
          }
        }
        &:nth-child(2n-1){
          @media (max-width:map_get($grid-breakpoints, medium)) {
            .cover,
            .title {
              float: left !important;
            }
          }
          .cover {
            float: right;
          }
          .title {
            float: right;
          }
        }
      }
    }
  }
}
#contact {
  @include section($primary-color, transparent);
  p {
    font-size: 0.85rem;
    color: #333;
  }
  .icon {
    display: inline-block;
    $size: 2.5rem;
    width: $size;
    height: $size;
    margin: 1rem .5rem;
    border-radius: 50%;
    background: $primary-color;
    color: white;
    line-height: $size;
    text-align: center;
  }
}
.footer {
  position: relative;
  background: #262626;
  padding: .8rem 0;
  margin-top: 27px;
  text-align: center;
  font-size: 0.85rem;
  color: #ccc;
  &:before {
    content: '';
    position: absolute;
    top: -27px;
    left: 0;
    width: 100%;
    height: 27px;
    display: block;
    background-image: url(../img/footer-border.png);
    background-repeat: repeat;
  }
  img {
    height: 3.5rem;
    margin-right: 2rem;
  }
}


.menu-small {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(black, 0.8);
  z-index: 9999;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  display: none;
  .fa-remove {
    color: lightgrey;
  }
  .menu {
    height: 100%;
    margin: 0;
    padding: 2rem 0 0;
    box-sizing: border-box;
    //overflow-y: scroll;
    //display: none;
    overflow: scroll !important;
    & > li {
      display: block;
      & > a {
        display: block;
        color: white;
        font-family: kaiti;
        font-size: 1.2rem;
      }
      & > ul {
        display: none;
        padding: 0;
        & > li {
          display: block;
          & > a {
            display: block;
            font-size: 0.85rem;
            color: lightgrey;
          }
        }
      }
    }
  }
}
